

        .silex-id-1638214918103-2 {top: 260px; left: 80px; height: 1.4em; width: 20px;
        }
        .silex-id-1638300587606-3 {top: 240px; left: 280px; height: 64px; width: 100px;
        }
        .silex-id-1638300590914-4 {top: 340px; left: 280px; height: 64px; width: 100px;
        }
        .silex-id-1638300592992-5 {top: 440px; left: 280px; height: 64px; width: 100px;
        }
        .silex-id-1638214924969-4 {top: 460px; left: 80px; height: 20px; width: 20px;
        }
        .silex-id-1638214921778-3 {top: 360px; left: 80px; height: 20px; width: 20px;
        }
        .silex-id-1638300580952-1 {top: 140px; left: 280px; height: 64px; width: 100px;
        }
        .silex-id-1638214902434-0 {top: 160px; left: 80px; height: 20px; width: 20px;
        }
        .silex-id-1638214949993-9 {top: 460px; left: 480px; height: 20px; width: 20px;
        }
        .silex-id-1638300717698-7 {top: 340px; left: 680px; height: 64px; width: 100px;
        }
        .silex-id-1638214946503-8 {top: 360px; left: 480px; height: 20px; width: 20px;
        }
        .silex-id-1638214942700-7 {top: 260px; left: 480px; height: 22px; width: 20px;
        }
        .silex-id-1638300748708-8 {top: 240px; left: 680px; height: 64px; width: 100px;
        }
        .silex-id-1638214930540-5 {top: 160px; left: 480px; height: 20px; width: 20px;
        }
        .silex-id-1638300767668-9 {top: 140px; left: 680px; height: 64px; width: 100px;
        }
        .silex-id-1638215136026-23 {top: 80px; left: 80px; height: 40px; width: 520px; border-width: 14px; font-size: 24px; border-color: rgb(0, 0, 0); font-style: italic; font-weight: normal; font-family: "Gill Sans", Geneva, sans-serif;
        }
        .background-initial {background-color: transparent; top: 5px; left: -100px; width: 820px; height: 550px;
        }
        .silex-id-1638301646165-10 {top: 0px; left: 280px; height: 20px; width: 220px; font-family: "Gill Sans", Geneva, sans-serif; font-weight: normal;
        }
        .body-initial {background-color: rgb(205, 255, 201);
        }
        .silex-id-1638762630695-0 {top: 160px; left: 100px; height: 20px; width: 180px;
        }
        .silex-id-1638762651842-1 {top: 260px; left: 100px; height: 20px; width: 180px;
        }
        .silex-id-1638762669491-2 {top: 360px; left: 100px; height: 20px; width: 180px;
        }
        .silex-id-1638762682732-3 {top: 460px; left: 100px; height: 20px; width: 180px;
        }
        .silex-id-1638762695148-4 {top: 160px; left: 500px; height: 20px; width: 180px;
        }
        .silex-id-1638762708430-5 {top: 260px; left: 500px; height: 20px; width: 180px;
        }
        .silex-id-1638762723270-6 {top: 360px; left: 500px; height: 20px; width: 180px;
        }
        .silex-id-1638762742042-7 {top: 460px; left: 500px; height: 20px; width: 180px;
        }
        .silex-id-1638300705278-6 {top: 440px; left: 682px; height: 64px; width: 100px;
        }
    