

        .background-initial {background-color: rgb(195, 255, 201); top: 5px; left: -100px; width: 804px; height: 550px;
        }
        .body-initial {background-color: rgb(255, 255, 255); width: 220px;
        }
        .silex-id-1638654780675-13 {top: 20px; left: 180px; height: 260px; width: 220px;
        }
        .silex-id-1638654855968-14 {top: 20px; left: 420px; height: 60px; width: 360px;
        }
        .silex-id-1638655156701-16 {top: 200px; left: 420px; height: 40px; width: 60px;
        }
        .silex-id-1638655159903-17 {top: 260px; left: 420px; height: 40px; width: 60px;
        }
        .silex-id-1638655195686-18 {top: 320px; left: 420px; height: 40px; width: 60px;
        }
        .silex-id-1638655211444-19 {top: 200px; left: 560px; height: 40px; width: 60px;
        }
        .silex-id-1638655219013-21 {top: 260px; left: 560px; height: 40px; width: 60px;
        }
        .silex-id-1638655224544-23 {top: 320px; left: 560px; height: 40px; width: 60px;
        }
        .silex-id-1638655322920-29 {top: 200px; left: 620px; height: 40px; width: 60px; font-size: 10px;
        }
        .silex-id-1638655221706-22 {top: 260px; left: 720px; height: 40px; width: 60px;
        }
        .silex-id-1638655227708-24 {top: 320px; left: 720px; height: 40px; width: 60px;
        }
        .silex-id-1638655255748-25 {top: 200px; left: 480px; height: 40px; width: 40px; font-size: 10px;
        }
        .silex-id-1638655441308-31 {top: 260px; left: 480px; height: 40px; width: 40px; font-size: 10px;
        }
        .silex-id-1638655471123-32 {top: 260px; left: 620px; height: 60px; width: 60px; font-size: 10px;
        }
        .silex-id-1638655508592-33 {top: 320px; left: 480px; height: 60px; width: 40px; font-size: 10px;
        }
        .silex-id-1638655539721-34 {top: 320px; left: 620px; height: 60px; width: 60px; font-size: 10px;
        }
        .silex-id-1638655605214-35 {top: 200px; left: 680px; height: 40px; width: 40px; font-size: 30px;
        }
        .silex-id-1638655620742-36 {top: 260px; left: 680px; height: 40px; width: 40px; font-size: 30px;
        }
        .silex-id-1638655623375-37 {top: 320px; left: 680px; height: 40px; width: 40px; font-size: 30px;
        }
        .silex-id-1638655629871-38 {top: 200px; left: 520px; height: 40px; width: 40px; font-size: 30px; margin-left: 10px;
        }
        .silex-id-1638655647908-39 {top: 260px; left: 520px; height: 40px; width: 40px; font-size: 30px; margin-left: 10px;
        }
        .silex-id-1638655650911-40 {top: 320px; left: 520px; height: 40px; width: 40px; font-size: 30px; margin-left: 10px;
        }
        .silex-id-1638655214871-20 {top: 200px; left: 720px; height: 40px; width: 60px;
        }
        .silex-id-1638655039416-15 {top: 80px; left: 420px; height: 100px; width: 360px; font-family: "Gill Sans", Geneva, sans-serif; font-size: 13px;
        }
        .silex-id-1638655848648-41 {top: 400px; left: 420px; height: 60px; width: 200px;
        }
        .silex-id-1639026435583-0 {top: 460px; left: 420px; height: 20px; width: 180px;
        }
    