

        .silex-id-1638299621424-6 {top: 20px; left: 420px; height: 40px; width: 380px;
        }
        .silex-id-1638299636813-7 {top: 80px; left: 420px; height: 1.4em; width: 20px;
        }
        .silex-id-1638299641202-8 {top: 80px; left: 600px; height: 1.4em; width: 20px;
        }
        .silex-id-1638299648260-9 {top: 80px; left: 440px; height: 20px; width: 100px;
        }
        .silex-id-1638299677288-11 {top: 80px; left: 620px; height: 20px; width: 100px;
        }
        .silex-id-1638299228496-0 {top: 400px; left: 160px; height: 140px; width: 360px;
        }
        .silex-id-1638299697861-12 {top: 140px; left: 420px; height: 40px; width: 380px;
        }
        .silex-id-1638299740332-14 {top: 200px; left: 420px; height: 40px; width: 80px;
        }
        .silex-id-1638299752128-16 {top: 220px; left: 500px; height: 20px; width: 80px;
        }
        .silex-id-1638299509257-2 {top: 20px; left: 180px; height: 260px; width: 220px;
        }
        .silex-id-1638300329418-30 {top: 0px; left: 0px; height: 80px; width: 160px;
        }
        .silex-id-1638300333483-31 {top: 80px; left: 0px; height: 2em; width: 160px;
        }
        .silex-id-1638300352599-32 {top: 120px; left: 0px; height: 2em; width: 160px;
        }
        .silex-id-1638300356588-33 {top: 160px; left: 0px; height: 2em; width: 160px;
        }
        .silex-id-1638300359275-34 {top: 200px; left: 0px; height: 2em; width: 160px;
        }
        .silex-id-1638300362235-35 {top: 240px; left: 0px; height: 2em; width: 160px;
        }
        .silex-id-1638300364628-36 {top: 280px; left: 0px; height: 2em; width: 160px;
        }
        .silex-id-1638300367029-37 {top: 320px; left: 0px; height: 2em; width: 160px;
        }
        .silex-id-1638300369483-38 {top: 360px; left: 0px; height: 2em; width: 160px;
        }
        .silex-id-1638300372115-39 {top: 400px; left: 0px; height: 2em; width: 160px;
        }
        .silex-id-1638300386008-40 {top: 440px; left: 0px; height: 2em; width: 160px;
        }
        .silex-id-1638300388740-41 {top: 480px; left: 0px; height: 2em; width: 160px;
        }
        .body-initial {background-color: rgb(255, 255, 255); margin-bottom: -20px;
        }
        .silex-id-1638653107886-2 {top: 520px; left: 0px; height: 2em; width: 160px;
        }
        .silex-id-1638653249434-4 {top: 0px; left: 0px; height: 380px; width: 160px;
        }
        .background-initial {background-color: rgb(195, 255, 201); top: 5px; left: 154px; width: 826px; height: 555px;
        }
        .silex-id-1638653586500-6 {top: 100px; left: 100px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1638653182738-3 {top: 0px; left: 0px; height: 560px; width: 160px;
        }
        .silex-id-1638653729979-8 {top: 120px; left: 120px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1638299862443-18 {top: 340px; left: 420px; height: 40px; width: 80px;
        }
        .silex-id-1638299871980-19 {top: 360px; left: 500px; height: 20px; width: 60px;
        }
        .silex-id-1638299887085-20 {top: 340px; left: 580px; height: 40px; width: 40px; text-align: center; font-weight: bold; font-size: 30px; margin-right: 0px;
        }
        .silex-id-1638300070597-21 {top: 340px; left: 640px; height: 40px; width: 80px;
        }
        .silex-id-1638300176476-25 {top: 340px; left: 720px; height: 40px; width: 100px;
        }
        .silex-id-1638299826620-17 {top: 280px; left: 420px; height: 40px; width: 380px;
        }
        .silex-id-1638300124712-24 {top: 400px; left: 580px; height: 40px; width: 40px; font-size: 30px;
        }
        .silex-id-1638300293991-28 {top: 400px; left: 720px; height: 40px; width: 60px;
        }
        .silex-id-1638300310284-29 {top: 400px; left: 640px; height: 40px; width: 80px;
        }
    