

        .silex-id-1638658041343-91 {top: 20px; left: 180px; height: 280px; width: 220px;
        }
        .silex-id-1638658125208-95 {top: 140px; left: 420px; height: 40px; width: 280px;
        }
        .silex-id-1638658174776-97 {top: 220px; left: 420px; height: 20px; width: 160px;
        }
        .silex-id-1638658198430-98 {top: 240px; left: 420px; height: 40px; width: 100px;
        }
        .silex-id-1638658138189-96 {top: 240px; left: 580px; height: 40px; width: 100px;
        }
        .body-initial {background-color: rgb(255, 255, 255); margin-bottom: 10px;
        }
        .silex-id-1638658205361-99 {top: 240px; left: 540px; height: 60px; width: 40px; font-size: 48px; margin-bottom: 10px; margin-top: -10px;
        }
        .silex-id-1638658260710-100 {top: 140px; left: 700px; height: 40px; width: 100px;
        }
        .silex-id-1638658275227-102 {top: 220px; left: 680px; height: 60px; width: 60px; font-size: 48px; margin-top: 10px;
        }
        .silex-id-1638658293201-103 {top: 240px; left: 740px; height: 40px; width: 60px;
        }
        .silex-id-1638658072288-92 {top: 60px; left: 440px; height: 40px; width: 260px;
        }
        .silex-id-1638658103096-94 {top: 40px; left: 700px; height: 40px; width: 100px;
        }
        .background-initial {background-color: rgb(205, 255, 201); top: 5px; left: -120px; width: 824px; height: 550px;
        }
        .silex-id-1638658589663-104 {top: 320px; left: 440px; height: 40px; width: 360px;
        }
        .silex-id-1638658632194-106 {top: 360px; left: 440px; height: 1.4em; width: 80px;
        }
        .silex-id-1638658634752-107 {top: 360px; left: 640px; height: 1.4em; width: 100px;
        }
        .silex-id-1638658641837-108 {top: 360px; left: 460px; height: 20px; width: 100px;
        }
        .silex-id-1638658657681-110 {top: 360px; left: 660px; height: 20px; width: 100px;
        }
    