

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1638657347700-83 {top: 20px; left: 180px; height: 260px; width: 220px;
        }
        .silex-id-1638657388895-84 {top: 20px; left: 420px; height: 120px; width: 380px;
        }
        .silex-id-1638657819910-85 {top: 140px; left: 420px; height: 60px; width: 260px;
        }
        .silex-id-1638657863751-86 {top: 220px; left: 420px; height: 80px; width: 260px;
        }
        .silex-id-1638657890650-87 {top: 160px; left: 700px; height: 40px; width: 100px;
        }
        .silex-id-1638657896355-88 {top: 260px; left: 700px; height: 40px; width: 100px;
        }
        .silex-id-1638657925892-90 {top: 340px; left: 700px; height: 40px; width: 100px; font-size: 30px; font-weight: bold;
        }
        .silex-id-1638657906471-89 {top: 340px; left: 440px; height: 40px; width: 240px; font-weight: bold; margin-top: 10px;
        }
        .background-initial {background-color: rgb(205, 255, 201); top: 5px; left: -120px; width: 824px; height: 550px;
        }
        .silex-id-1638658965442-0 {top: 100px; left: 100px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1638658985577-1 {top: 120px; left: 120px; height: 0px; width: 0px; display: none;
        }
    