

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(205, 255, 201); top: 5px; left: -120px; width: 824px; height: 550px;
        }
        .silex-id-1638656924269-71 {top: 100px; left: 100px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1638656952611-72 {top: 120px; left: 120px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1638656979934-73 {top: 140px; left: 140px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1638657015352-74 {top: 160px; left: 160px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1638657045342-75 {top: 180px; left: 180px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1638657070672-76 {top: 200px; left: 200px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1638657102249-77 {top: 220px; left: 220px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1638656313944-49 {top: 20px; left: 420px; height: 100px; width: 380px; font-weight: normal;
        }
        .silex-id-1638656279286-48 {top: 20px; left: 180px; height: 280px; width: 220px;
        }
        .silex-id-1638656444305-53 {top: 120px; left: 420px; height: 20px; width: 260px;
        }
        .silex-id-1638656616593-62 {top: 120px; left: 700px; height: 1.4em; width: 100px;
        }
        .silex-id-1638656472700-55 {top: 160px; left: 420px; height: 20px; width: 260px;
        }
        .silex-id-1638656618420-63 {top: 160px; left: 700px; height: 1.4em; width: 100px;
        }
        .silex-id-1638656485555-56 {top: 200px; left: 420px; height: 20px; width: 260px;
        }
        .silex-id-1638656620656-64 {top: 200px; left: 700px; height: 1.4em; width: 100px;
        }
        .silex-id-1638656505041-57 {top: 240px; left: 420px; height: 20px; width: 260px;
        }
        .silex-id-1638656622554-65 {top: 240px; left: 700px; height: 1.4em; width: 100px;
        }
        .silex-id-1638656523579-58 {top: 280px; left: 420px; height: 20px; width: 260px;
        }
        .silex-id-1638656624787-66 {top: 280px; left: 700px; height: 1.4em; width: 100px;
        }
        .silex-id-1638656539979-59 {top: 320px; left: 420px; height: 20px; width: 260px;
        }
        .silex-id-1638656626891-67 {top: 320px; left: 700px; height: 1.4em; width: 100px;
        }
        .silex-id-1638656628562-68 {top: 360px; left: 700px; height: 1.4em; width: 100px;
        }
        .silex-id-1638656573143-60 {top: 360px; left: 420px; height: 40px; width: 260px;
        }
        .silex-id-1638657144162-78 {    top: 410px;
    left: 600px;
    height: 20px;
    width: 200px;
    font-weight: bold;
}
        }
        .silex-id-1638657250434-82 {top: 440px; left: 700px; height: 42px; width: 100px; font-size: 32px; font-weight: bold;
        }
    